@import '../../globals.scss';


.section-cover{
  
  @include main-height;
  @include padding-lateral;
  position: relative;

  background-image: url('../../assets/cover.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  .info-container {

    @include flex-space(space-evenly);
    align-items: flex-start;
    flex-direction: column;
    position: relative;   
    width: 50vw;
    height: 100%;
    z-index: 2;
    color: $light;
    
    h4{
      width: 40vw;
    }

    form, .header{
      width: 100%;
    }

    form{
      .text{
        font-size: 0.9em;
      }

      .input-block{
        @include flex-space(flex-start);
        margin-top: $spacing1;
      }

      input{
        padding: 6px 10px;
        height: 42px;
        font-family: inherit;
        font-size: 1em;  
        border: none;       
        border-radius: $rounded1 0px 0px $rounded1;             
      }
      
      button{        
        @include cta-primary;  
        padding: 11px 20px;              
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
           
      

      input[type = submit]{
        background-color: $primary;
        border-radius: 0px $rounded1 $rounded1 0px;
        color: white;
        border: none;   
        cursor: pointer;
        font-weight: 500;
      }
    }
  }

  .overlay{
    @include size(100%, 100%);
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;    
  }

  @include media-query($tablet){
    .info-container{
      width: 80%;
      margin: auto;

      header{
        text-align: center;

        h4 {
          width: 100%;
          padding: 0px 20px;        
        }
      }

      form{
        text-align: center;

        .input-block{
          justify-content: center;
        }
      }
    }
  }

  @include media-query($mobile){
    .info-container{
      width: 100%;

      input[type=text]{
        width: 175px;    
      }
    }
  }
}
