$primary: #006AF3;
$primary-light: #1a7dff;
$light: #fff;
$dark: #000;
$color-body-background: #E6E6E6;

$height-navbar: 80px;
$height-sidebar-menu: 56px;
$height-infobar: 40px;

$spacing1: 8px;
$spacing2: 13px;
$spacing3: 21px;
$spacing4: 34px;
$spacing5: 55px;
$spacing6: 89px;
$spacing7: 144px;

$rounded1: 5px;
$rounded2: 8px;
$rounded-circle: 50%;

$laptop: 1499px;
$tablet: 1079px;
$mobile: 679px;
$small-mobile: 359px;


@mixin horizontal-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-left: $spacing;
    }
  }
}

@mixin vertical-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-top: $spacing;
    }
  }
}


@mixin bg-schema($bg, $color){
  background-color: $bg;
  color: $color;
}


@mixin size($w, $h){
  width: $w;
  height: $h;
}


@mixin media-query($breakpoint) {
  @media screen and (max-width: $breakpoint){
    @content;
  }
}

@mixin main-height(){
  height: calc(100vh - #{$height-navbar} - #{$height-infobar});
  @include media-query($tablet){
    height: calc(100vh - #{$height-sidebar-menu});
  }
}

$spacing-lateral-full-hd: calc(50% - 650px);
$spacing-lateral-laptop: 8%;
$spacing-lateral-tablet: 6%;
$spacing-lateral-mobile: 20px;
$spacing-lateral-small-mobile: 4px;


@mixin margin-lateral(){
  margin-right: $spacing-lateral-full-hd;
  margin-left: $spacing-lateral-full-hd;

  @include media-query($laptop){
    margin-right: $spacing-lateral-laptop;
    margin-left: $spacing-lateral-laptop;
  }  
  @include media-query($tablet){
    margin-right: $spacing-lateral-tablet;
    margin-left: $spacing-lateral-tablet;
  }
  @include media-query($mobile){
    margin-right: $spacing-lateral-mobile;
    margin-left: $spacing-lateral-mobile;
  }
  @include media-query($small-mobile){
    margin-right: $spacing-lateral-small-mobile;
    margin-left: $spacing-lateral-small-mobile;
  }
}


@mixin padding-lateral(){
  padding-right: calc(50% - 650px);
  padding-left: calc(50% - 650px);

  @include media-query($laptop){
    padding-right: 8%;
    padding-left: 8%;
  }  
  @include media-query($tablet){
    padding-right: 6%;
    padding-left: 6%;
  }
  @include media-query($mobile){
    padding-right: 3%;
    padding-left: 3%;
  }
  @include media-query($small-mobile){
    padding-right: 2px;
    padding-left: 2px;
  }
}

@mixin hide-on($breakpoint){
  @include media-query($breakpoint){
    display: none;
  }
}

@mixin flex-space($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin cta-primary{
  background-color: $primary;
  color: $light;
  border-radius: $rounded1;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}

@mixin cta-secondary{
  background-color: $light;
  color: $primary;
  border-radius: $rounded1;
  border: 1px solid $primary;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}

@mixin form-input{
  padding: 6px 10px;
  height: 42px;
  font-family: inherit;
  font-size: 1em;  
  border: none;       
  border-radius: $rounded1;
}
