
$primary: #006AF3;
$primary-light: #006FFF;
$light: #fff;
$dark: #000;
$color-body-background: #E6E6E6;

$height-navbar: 80px;
$height-sidebar-menu: 56px;
$height-infobar: 40px;

$spacing1: 8px;
$spacing2: 13px;
$spacing3: 21px;
$spacing4: 34px;
$spacing5: 55px;
$spacing6: 89px;
$spacing7: 144px;

$rounded1: 5px;
$rounded2: 8px;
$rounded-circle: 50%;

$small-mobile: 355px;
$mobile: 743px;
$tablet: 1151px;


@mixin horizontal-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-left: $spacing;
    }
  }
}

@mixin vertical-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-top: $spacing;
    }
  }
}


@mixin bg-schema($bg, $color){
  background-color: $bg;
  color: $color;
}


@mixin size($w, $h){
  width: $w;
  height: $h;
}


@mixin media-query($breakpoint) {
  @media screen and (max-width: $breakpoint){
    @content;
  }
}

@mixin main-height(){
  height: calc(100vh - #{$height-navbar} - #{$height-infobar});
  @include media-query($tablet){
    height: calc(100vh - #{$height-sidebar-menu});
  }
}



@mixin margin-lateral{
  margin-right: calc(50vw - 536px);
  margin-left: calc(50vw - 536px);

  @include media-query($tablet){
    margin-right: Min(calc(50vw - 352px), 10%);
    margin-left: Min(calc(50vw - 352px), 10%);
  }  

  @include media-query($mobile){
    margin-right: Min(calc(50vw - 168px), 10%);
    margin-left: Min(calc(50vw - 168px), 10%);
  }  

  @include media-query($small-mobile){
    margin-right: 10px;
    margin-left: 10px;
  }
}


@mixin padding-lateral{
  padding-right: calc(50vw - 536px);
  padding-left: calc(50vw - 536px);
  @include media-query($tablet){
    padding-right: Min(calc(50vw - 352px), 10%);
    padding-left: Min(calc(50vw - 352px), 10%);
  }  
  @include media-query($mobile){
    padding-right: Min(calc(50vw - 168px), 10%);
    padding-left: Min(calc(50vw - 168px), 10%);
  }  
  @include media-query($small-mobile){
    padding-right: 10px;
    padding-left: 10px;
  } 
}

@mixin hide-on($breakpoint){
  @include media-query($breakpoint){
    display: none;
  }
}

@mixin flex-space($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin cta-primary{
  background-color: $primary;
  color: $light;
  border-radius: $rounded1;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}

@mixin cta-secondary{
  background-color: $light;
  color: $primary;
  border-radius: $rounded1;
  border: 1px solid $primary;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}

@mixin form-input{
  padding: 6px 10px;
  height: 42px;
  font-family: inherit;
  font-size: 1em;  
  border: none;       
  border-radius: $rounded1;
}
