@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,900&display=swap');

$primary: #006AF3;
$light: #fff;
$dark: #000;
$color-body-background: #E6E6E6;

$height-navbar: 80px;
$height-sidebar-menu: 56px;
$height-infobar: 40px;

$spacing1: 8px;
$spacing2: 13px;
$spacing3: 21px;
$spacing4: 34px;
$spacing5: 55px;
$spacing6: 89px;
$spacing7: 144px;

$rounded1: 5px;
$rounded2: 8px;
$rounded-circle: 50%;

$small-mobile: 355px;
$mobile: 743px;
$tablet: 1151px;


@mixin horizontal-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-left: $spacing;
    }
  }
}

@mixin vertical-spacing($spacing){
  > * {
    &:not(:first-child){
      margin-top: $spacing;
    }
  }
}


@mixin bg-schema($bg, $color){
  background-color: $bg;
  color: $color;
}


@mixin size($w, $h){
  width: $w;
  height: $h;
}


@mixin media-query($breakpoint) {
  @media screen and (max-width: $breakpoint){
    @content;
  }
}

@mixin main-height(){
  height: calc(100vh - #{$height-navbar} - #{$height-infobar});
  @include media-query($tablet){
    height: calc(100vh - #{$height-sidebar-menu});
  }
}

//(336 * 3) + (2 * 32) + (40): 1112 
//336 * 2 + 32 + 40: 
//desktop = 

@mixin margin-lateral{
  margin: 0px calc(50vw - 536px);
  @include media-query($tablet){
    margin: 0px Min(calc(50vw - 352px), 10%);
  }  
  @include media-query($mobile){
    margin: 0px Min(calc(50vw - 168px), 10%);
  }  
  @include media-query($small-mobile){
    margin: 0px 10px;
  }
}


@mixin padding-lateral{
  padding: 0px calc(50vw - 536px);
  @include media-query($tablet){
    padding: 0px Min(calc(50vw - 352px), 10%);
  }  
  @include media-query($mobile){
    padding: 0px Min(calc(50vw - 168px), 10%);
  }  
  @include media-query($small-mobile){
    padding: 0px 10px;
  } 
}

@mixin hide-on($breakpoint){
  @include media-query($breakpoint){
    display: none;
  }
}

@mixin flex-space($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin cta-primary{
  background-color: $primary;
  color: $light;
  border-radius: $rounded1;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}

@mixin cta-secondary{
  background-color: $light;
  color: $primary;
  border-radius: $rounded1;
  border: 1px solid $primary;
  cursor: pointer;
  font-weight: 500;  
  padding: 8px 15px;
}


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: $color-body-background;
}

main{
  @include main-height;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 42px;
  font-weight: 900;
  margin: 10px 0px;
}


h4{
  font-size: 1em;
  font-weight: 500;
  margin: 10px 0px;
}

.info-social-media{
  @include flex-space(space-between);
  width: 120px;
} 

.info-mail, .info-phone{  
  @include horizontal-spacing($spacing2);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;  
}

.logo{
  font-size: 26px;
  color: $primary;
  font-weight: 900;
}


.backdrop{
  @include size(100vw, 100vh);
  position: fixed;
  top: 0px;
  background-color: $dark;
  opacity: 0.8;
}

.background-image-component {
  @include size(100%, 100%);
  background-color: #888;
  display: flex;   
  align-items: center;
  overflow: hidden;
 
  &.by-width {
    flex-direction: column;    
    img { 
       @include size(100%, auto);      
    }   
  }

  &.by-height {
    img { 
       @include size(auto, 100%);      
    }
  }
  &.center{ justify-content: center; }
  &.start{ justify-content: flex-start; }
  &.end{ justify-content: flex-end; }   

}


.infobar {
  @include flex-space(space-between);
  @include padding-lateral;
  @include hide-on($tablet);
  @include bg-schema($dark, $light);
  @include size(100%, 40px);
  font-size: 0.9em;

  .info-container{
    @include flex-space(space-between);
    @include horizontal-spacing($spacing5);
  }
}


.navbar{
  @include flex-space(space-between);
  @include padding-lateral;
  @include size(100%, $height-navbar);
  @include bg-schema($light, $dark);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  z-index: 10;

  .close-btn{
    display: none;
  }

  .links{
    @include horizontal-spacing($spacing5);
    margin-left: $spacing5;
  }

  .cta{
    @include cta-secondary;
  }
  
  &.fixed{
    position: fixed;
    top: 0px;
  }

  @include media-query($tablet){  
    @include bg-schema($dark, $light);
    @include size(85%, 100vh);
    padding: $spacing3 0px;
    box-shadow: unset;
    position: fixed;
    flex-direction: column;    
    justify-content: space-evenly;
    overflow: hidden;
    transition: width 0.25s;
    
    &.closed {
      width: 0px;
      transition: width 0s;
    }

    .close-btn{
      display: unset;
      position: absolute;
      top: $spacing3;
      right: $spacing3;      
    }

    .links {
      @include flex-space(space-between);
      @include horizontal-spacing(0px);
      @include vertical-spacing($spacing4);

      flex-direction: column;
      margin-left: 0px;
      margin-top: $spacing2;
    }

    .cta{
      @include cta-primary;
      border: none;      
    }
  }
}

.sidebar-menu{
  @include size(100%, $height-sidebar-menu);
  background-color: $dark;
  display: none;
  position: fixed;
  top: 0px;
  

  @include media-query($tablet){
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-btn{
      display: none;
      position: absolute;
      right: $spacing3;
    }

    .backdrop{
      z-index: 9;
    }

    &.closed{
      .menu-btn{
        display: unset;
      }

      .backdrop{
        display: none;
      }
    }
  }
}

.navbar-placeholder{
  @include size(100%, $height-navbar);  
  background-color: blue;
  display: none;
  &.fixed{
    display: block;
  }

  @include media-query($tablet){
    height: $height-sidebar-menu;
    display: block;
  }

}


.footer{  
  @include flex-space(space-between);
  @include size(100%, 260px);
  @include bg-schema($dark, $light);
  flex-direction: column;  
  padding-top: $spacing4;  
  
  .info-container{
    @include flex-space(space-between);
    flex-direction: column;
    .info-social-media{
      margin-top: $spacing1;
    }
  }
}


.section-cover{
 @include main-height;
  display: flex;  

  .info-container{
    @include padding-lateral;
    @include flex-space(space-evenly);
    flex-direction: column;
    padding-right: 0px;
    width: 50%;
    
    h4{
      width: 90%;
    }

    form, .header{
      width: 100%;
    }


  }

  .image-container {
    @include size(50%, 100%);
    padding-left: $spacing1;
  }
}
