@use 'utilities.scss' as util;


.section-cover{
  position: relative;
  width: 100%;
  height: calc(100vh - #{util.$height-infobar} - #{util.$height-navbar});
  @include util.media-tablet{
    min-height: calc(100vh - #{util.$height-sidebar-menu});
  }

  background-image: url('/assets/pexels-arina-krasnikova-5418933.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  .backdrop{
    position: absolute;
    z-index: 1;        
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.80;
  }

  .container{    
    position: absolute;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px util.$margin-page1 0px util.$margin-page1; 
    
    @include util.media-mobile{
      padding: 0px util.$margin-page-mobile 0px util.$margin-page-mobile; 
    }


    .logo{
      display: none;
      @include util.media-tablet{
        display: block;
        font-size: 36px;
        color: util.$color-primary;
        font-weight: 900;
        height: 80px;
      }
    }

    h1{

      width: 65%;
      font-size: 42px;
      line-height: 1.5;
      margin-bottom: 10px;
      margin-top: 20px;
            
      @include util.media-tablet{
        font-size: 32px;
        width: 90%;
      }

      @include util.media-mobile{
        font-size: 26px;
      }

      @include util.media-small-mobile{
        font-size: 1.1em;
      }

    
      
      h1{
        margin: 0px;
      }
    }

    .subtitle{
      width: 50%;
      line-height: 1.8;

      @include util.media-tablet{
        width: 100%;
      }

      @include util.media-small-mobile{
        font-size: 0.85em;
      }
    }
  }

  .cta{
    .text{
      font-size: 0.8em;
      margin-bottom: 10px;      
    }
    form{
      input{
        padding: 8px 12px;
        height: 42px;
        font-family: inherit;
        font-size: 1em;   
        @include util.media-tablet{
          font-size: 0.9em;
        }      
      }
      input[type=text]{
        border: none;       
        border-radius: 5px 0px 0px 5px;
        @include util.media-mobile{
          width: 160px;
        }

        @include util.media-small-mobile{
          width: 140px;
        }
      }

      input[type = submit]{
        background-color: util.$color-primary;
        border-radius: 0px 5px 5px 0px;
        color: white;
        border: none;   
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}