@use 'utilities.scss' as util;


.section-dicas{  
  padding: util.$margin-vertical-section util.$margin-page1 0px util.$margin-page1;

  @include util.media-mobile{
    padding: util.$margin-vertical-section util.$margin-page-mobile 0px util.$margin-page-mobile;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
          
    .card {          
      position: relative;      
      border-radius: 5px;
      width: 100%;
      padding-bottom: 28%;      
      background-color: white;
      margin-bottom: 60px;

      @include util.media-large-tablet{
        padding-bottom: 33%;            
      }

      @include util.media-tablet{
        width: 70%;
        padding-bottom: 60%;       
      }

      @include util.media-mobile{
        width: 100%;
        padding-bottom: 120%;
      }

      &.left{
        .bg-img{
          left: 0%;
        }
        .text-container{
          left: 50%;
        }
        @include util.media-tablet{
          .bg-img{
            left: 0%;
          }
          .text-container{
            left: 0%;
          }
        }
      }

      &:last-child{
        margin-bottom: 0px;
      }

      .bg-img {
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 50%;  

        @include util.media-tablet{
          left: 0%;   
          width: 100%;       
        }     
      }
      
      .text-container { 
        position: absolute;        
        z-index: 3;      
        top: 0px;
        width: 50%;    
        height: 100%;       
        padding: 20px 40px;   
        @include util.media-tablet{
          color: white;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;      
        }
        
        h3{
          margin: 25px 0px;
          text-align: center;
        }

        .link-placeholder{
          margin-top: 60px;
        }

        p{
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
          overflow: hidden;
          @include util.media-large-tablet{
            -webkit-line-clamp: 2;
          }
          @include util.media-tablet{
            -webkit-line-clamp: 3;
          }
        }
        a {   
          position: absolute;
          bottom: 20px;
          right: 40px;                 
          padding: 8px 16px;         
          border-radius: 5px;
          background-color: util.$color-primary;
          color: white;
          font-weight: 600;
        }

      }

      .backdrop{
        display: none;
        @include util.media-tablet{
          display: block;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: 0.7;
        }
      }
      

    }

  }

}