@use 'utilities.scss' as util;


.section-features{
  background-color: util.$color-primary;
  color: util.$color-light;
  padding: util.$margin-vertical-section util.$margin-page1;

  header{
    text-align: center;
    margin: 0px 18% 80px 18%;

    @include util.media-tablet{
      margin: 0px 5% 80px 5%;
    }

    h2{
      margin: 10px 0px;
      font-size: 28px;      
    } 

    .text {
      @include util.media-tablet{
        display: none;
      }
    }
  }

  .cards-container{
    display: flex;
    justify-content: space-between;
    @include util.media-large-tablet{
      flex-direction: column;
      align-items: center;

    }
          
    .feature-card{
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: util.$color-dark;
      width: 30%;
      padding: 30px 25px;
      border-radius: 5px;
      text-align: center;

      @include util.media-large-tablet{
        width: 50%;
        margin-bottom: 60px;
      }

      @include util.media-tablet{
        width: 80%;
        margin-bottom: 80px;
      }

      @include util.media-mobile{
        width: 100%;
      }
      .circle{
        background-color: black;
       
        height: 105px;
        width: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      h3{
        margin: 25px 0px;
      }

    }

  }

}