@use 'utilities.scss' as util;

.footer{
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: util.$color-light;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;

  .logo{
    color: util.$color-primary;
    font-size: 42px;
    font-weight: 900;
  }

  .items { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 12px;
    width: 100%;

    .item{
      display: flex;
      align-items: center;
      line-height: 2;
      img{
        height: 14px;
        width: auto;
        margin-right: 10px;
        
      }      
    }
  }

  .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    
    a{      
      margin-right: 30px;     
      &:last-child{
        margin-right: 0px;
      }
      
      display: flex;    
      img{
        height: 16px;
        width: auto;
      }  
    }
  }

  small {
    font-size: 0.8em;
  }
}