@use 'utilities.scss' as util;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: util.$color-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-content{
  min-height: calc(100vh - #{util.$height-infobar} - #{util.$height-navbar});
  @include util.media-tablet{
    min-height: calc(100vh - #{util.$height-sidebar-menu});
  }
}


.section-header{
  text-align: center;
  margin: 0px 18% 60px 18%;

  @include util.media-tablet{
    margin: 0px 5% 80px 5%;
  }

  h2 {
    margin: 10px 0px;
    font-size: 28px;
    span {
      color: util.$color-primary;
    }
  } 

  .text {
    @include util.media-tablet{
      display: none;
    }
  }
}