@use 'utilities.scss' as util;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: util.$color-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-content{
  min-height: calc(100vh - #{util.$height-infobar} - #{util.$height-navbar} - 20px);
  @include util.media-tablet{
    min-height: calc(100vh - #{util.$height-sidebar-menu} - 20px);
  }
}