@use 'utilities.scss' as util;


.infobar{
  @include util.media-tablet{
    display: none;
  }

  width: 100%;
  height: util.$height-infobar;
  background-color: util.$color-dark;
  color: util.$color-light;
  padding: 0px util.$margin-page1 0px util.$margin-page1;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  .items { 
    
    @include util.media-tablet{
      display: none;
    }

    display: flex;
    align-items: center;
   

    .item{
      display: flex;
      align-items: center;
      margin-right: 50px;
      img{
        height: 14px;
        width: auto;
        margin-right: 10px;
      }      
    }
  }

  .social-media{
    @include util.media-tablet{
      display: none;
    }

    display: flex;
    align-items: center;

    a{
      margin-left: 30px;     
      display: flex;   
      img{
        height: 16px;
        width: auto;
      }   
    }
  }  
}