@use 'utilities.scss' as util;



.navbar-placeholder{
  display: none;

  &.fixed{
    display: block;
    height: util.$height-navbar;    
  }

  @include util.media-tablet{
    display: block;
    height: util.$height-sidebar-menu;

    &.fixed{
      height: util.$height-sidebar-menu;
    }    
  }
}

.sidebar-menu{
 
  display: none;

  @include util.media-tablet{
    position: fixed;
    top: 0px;
    z-index: 8;
    display: flex;
    padding: 0px util.$margin-page-mobile;
    align-items: center;
    justify-content: center;
    padding-right: 20px;    
    height: util.$height-sidebar-menu; 
    width: 100%;
    background-color: black;   
  }

  .menu {
    display: none;
    position: absolute;
    height: 22px;
    right: 20px;
    width: auto;
    cursor: pointer;
    @include util.media-tablet{
      &.sidebar-closed{
        display: inherit;
      }
    }
  }

  .logo{
    font-size: 24px;
    font-weight: 900;
    color: util.$color-primary;
  }
}

.sidebar-backdrop{
  display: none;
  @include util.media-tablet{
    &.sidebar-closed{
      display: none;
    }
    display: block;
    position: fixed;
    top: 0px;
    height: 120vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 9;
  }
}

.navbar {
  @include util.media-tablet{
    position: fixed;
    padding: 60px 0px 0px 0px;
    margin: 0px;
    top: 0px;
    width: calc(100% - 30px);
    &.sidebar-closed {
      width: 0px;
      transition: width 0s;
    }
    transition: width 0.25s;
    height: 120vh;
    flex-direction: column;
    justify-content: flex-start;    
    background-color: black;
    color: white;
    overflow: hidden;
  }
  
  &.fixed {
    position: fixed;
    top: 0px;
  }

  z-index: 10;
  width: 100%;
  height: util.$height-navbar;
  padding: 0px util.$margin-page1 0px util.$margin-page1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 


  .close{
    display: none;
    height: 22px;
    width: auto;
    cursor: pointer;
    @include util.media-tablet{
      display: block;
      position: absolute;
      top: 18px;
      right: 18px;
      color: white;
    }
  }

  .logo{
    @include util.media-tablet{
      font-size: 42px;
      margin: 40px 0px;
    }

    color: util.$color-primary;
    font-size: 24px;
    font-weight: 900;
  }

  .links {
    @include util.media-tablet{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      
    a, span {
      
      margin-left: 40px; 
      &:first-child{
        margin-left: 80px;
      }
      
      @include util.media-large-tablet{
        margin-left: 25px;
        &:first-child{
          margin-left: 40px;
        }
      }

      @include util.media-tablet{
        margin-left: 0px;
        margin-top: 20px;
        &:first-child{
          margin-left: 0px;
        }
      }
    }

    .contato{
      cursor: pointer;      
    }    
  }

  .cta {  
    @include util.media-tablet{
      margin-top: 20px;
      background-color: util.$color-primary;
      color: white; 
    } 
    padding: 8px 16px;
    border: 1px solid util.$color-primary;
    border-radius: 5px;
    color: util.$color-primary;
    font-weight: 600;
  }  
}