@use 'utilities.scss' as util;


.navbar{
  width: 100%;
  height: util.$height-navbar;
  padding: 0px util.$margin-page1 0px util.$margin-page1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo{
    color: util.$color-primary;
    font-size: 24px;
    font-weight: 900;
  }

  .links{
    margin-left: 40px;
    *{
     margin-left: 40px; 
    }

    .contato{
      cursor: pointer;      
    }    
  }

  .cta {   
    padding: 8px 16px;
    border: 1px solid util.$color-primary;
    border-radius: 5px;
    color: util.$color-primary;
    font-weight: 600;
  }
}