@use 'utilities.scss' as util;


.section-services{  
  padding: util.$margin-vertical-section util.$margin-page1 0px util.$margin-page1;

  @include util.media-mobile{
    padding: util.$margin-vertical-section util.$margin-page-mobile 0px util.$margin-page-mobile;
  }
  
  .cards-container{
    display: flex;
    justify-content: space-between;
    @include util.media-large-tablet{
      flex-direction: column;
      align-items: center;
    }
        
    .service-card{
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: util.$color-dark;
      width: 30%;
      padding: 30px 25px;
      border-radius: 5px;
      text-align: center;

      @include util.media-large-tablet{
        width: 50%;
        margin-bottom: 40px;
      }

      @include util.media-tablet{
        width: 70%;
        margin-bottom: 60px;
      }

      @include util.media-mobile{
        width: 100%;
      }

      .img-container{
        height: 180px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;        
      }

      h3{
        margin: 25px 0px;
      }

    }

  }

}