@use 'utilities.scss' as util;


.sobre-section{

  padding-top: util.$margin-vertical-section;  

  .header-container{
    margin: 0px util.$margin-page1;
  }

  .section-header{
    @include util.media-tablet{
      margin: 0px 18% 20px 18%;
    }      
  }

  .container{
    display: flex;
    padding-left: util.$margin-page1;
    @include util.media-tablet{
      padding-left: 0px;
      display: block;
      position: relative;
      
    }

    .bg-img{
      width: 66.7%;    
      background-image: url('/laundry-template/assets/pexels-adrienne-andersen-2254065.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;  
      @include util.media-tablet{
        width: 100%;
        height: 50vh;
        background-position: center; 
      }
    }

    .text-container{
      width: 33.3%;
      color: white;
      background-color: util.$color-primary;
      padding: 60px 40px;
      border-radius: 5px 0px 0px 5px;
      @include util.media-tablet{
        width: unset;
        margin: 0px util.$margin-page-mobile;
        border-radius: 5px;
        background-position: right;
        position: relative;
        top: 40px;       
      }

      .cta-container{
        margin-top: 50px;
        text-align: right;

        .cta{
          padding: 8px 16px;
          border: 1px solid util.$color-primary;
          border-radius: 5px;
          color: white;
          border: 1px solid white;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}